body {
  margin: 1rem 5rem 1rem 5rem;
}

.badge {
  float: right;
}

.list-group-item {
  color: #212529;
  background-color: white;
}

.list-group-item.active {
  border-color: rgba(0, 0, 0, 0.125);
  color: #212529;
  background-color: white;
}

.list-group-item:hover {
  color: #495057;
  background-color: #f8f9fa;
}
