body {
  width: 100%;
  margin: 0 auto;
  max-width: 70rem;
}

#root {
  padding: 0.3rem;
}

.badge {
  font-size: 0.75rem;
  float: right;
  margin: 0.3rem;
}

.list-group {
  padding: 0.3rem;
}

.list-group-item {
  font-size: 0.9rem;
  color: #212529;
  background-color: rgba(0, 0, 0, 0.025);
  padding: 0;
  margin: 0.3rem 0;
  border: none;
  border-radius: 0.25rem;
}

.list-group-item.active {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.025);
}

.list-group-item.list-group-item.active {
  margin-top: 0.3rem;
}

.list-group-item-action:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.05);
}

.action-image {
  float: left;
  background-size: cover;
  height: 3rem;
  width: 3rem;
  border-radius: 0.25rem 0 0 0.25rem;
  margin-right: 0.4rem;
}

.action-image-skeleton {
  float: left;
  height: 3rem;
  width: 3rem;
  border-radius: 0.25rem 0 0 0.25rem;
  margin-right: 0.4rem;
  background-color: #eee;
}

.list-group-item h1 {
  margin: 0;
  font-size: 0.9rem;
}
